name: docker-image-build.yml
on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'

permissions:
  contents: write
  packages: write

env:
  TZ: Asia/Shanghai
  ALIYUN_CS_REGISTRY: registry.cn-shanghai.aliyuncs.com
  IMAGE_NAME: yhliu-center/spring-boot-admin

jobs:
  build-docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Build with Maven
        run: mvn clean package -DskipTests

      - name: Set up QEMU (for multi-arch support)
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to aliyun container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.ALIYUN_CS_REGISTRY }}
          username: ${{ secrets.ALIYUN_CS_USERNAME }}
          password: ${{ secrets.ALIYUN_CS_PASSWORD }}

      - name: Build default platforms
        uses: docker/build-push-action@v6
        with:
          push: true
          context: .
          tags: |
            ${{ env.ALIYUN_CS_REGISTRY }}/${{ env.IMAGE_NAME }}:latest
            ${{ env.ALIYUN_CS_REGISTRY }}/${{ env.IMAGE_NAME }}:${{ github.ref_name }}
            ${{ env.ALIYUN_CS_REGISTRY }}/${{ env.IMAGE_NAME }}:${{ github.ref_name }}-${{ github.sha }}
          build-args: |
            BUILD_DATE=${{ github.event.head_commit.timestamp }}
            VERSION=${{ github.ref_name }}
            COMMIT_SHA=${{ github.sha }}
